@font-face {
  font-family: 'JosefinSans-VariableFont_wght';
  src: url('../fonts/JosefinSans-VariableFont_wght.ttf');
}


body {
	margin: 0;
	font-family: 'JosefinSans-VariableFont_wght';
	background: red;
}



ul {
	list-style: none;
	margin: 0;
	padding: 0
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}


input:focus,
textarea:focus,
select:focus {
  outline: none;
}



img {
  max-width: 100%;
  vertical-align: middle;
}

a {
  text-decoration: none;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  font-family: 'Bellefair-Regular';
}

/** Age gate **/

.mob_bottle {
	display: none;
}

.a_gate {
	position: relative;
    height: 100vh;
    background: url(../images/lav-pozadina.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
}

.center-all {
	display: flex;
    align-items: center;
    height: 100%;
    width: 57%;
    background: url(../images/blue-background.png);
    background-size: cover;
    position: relative;
    z-index: 5;
    background-repeat: no-repeat;
    background-position: top right;
}

.a_gate .a_gate_wrap {
	width: 75%;
	padding: 0 50px
}

.a_gate .a_logo {
	text-align: center;
	position: relative;
}

.a_gate .a_logo .lav_board {
	position: relative;
}

.a_gate .a_logo .lav-img {
    max-width: 200px;
    position: relative;
    bottom: -17px;
}

.a_login_form {
	text-align: center;
	margin-top: 15%;
}

.a_login_form h1 {
	font-size: 2.60vw;
    text-transform: uppercase;
    color: #fff;
    font-weight: normal;
    margin-bottom: 0;
}

.a_login_form p {
	color: #fff;
	font-size: 1.04vw;
}

.lav_social ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.lav_social ul a {
	color: #fff;
    font-size: 1.56vw;
    margin: 0 7px;
}

.lav_social p,
.lav_social a  {
	margin: 0;
    color: #fff;
    font-family: 'JosefinSans-VariableFont_wght';
    font-size: 0.93vw;
    line-height: 1.7;
}

.copy {
	font-size: 0.67vw !important;
}

/* Bottle section */

.bottle_wrap {
	text-align: right;
}

.lav_table {
	width: 70%;
    margin: 0 auto;
    text-align: left;
}

.bottle-c {
	position: absolute;
    bottom: 0;
    z-index: 6;
    left: 50%;
    transform: translateX(-50%);
}

.bottle-c img {
	min-width: 123%;
}


/** Custom Select **/

.form_select {
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin: auto;
}


.btn {
	width: 100%;
}

.form_select .btn button {
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    font-size: 1.35vw;
    padding: 0.52vw 1.82vw;
    font-family: 'JosefinSans-VariableFont_wght';
    font-weight: normal;
    cursor: pointer;
    margin: 40px 0;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.form_select .btn button:hover {
	background: #fff;
	color: #151e4e;
}


.custom-select {
    position: relative;
    display: inline-block;
    width: 100%;
}
    
.custom-select-trigger {
	position: relative;
    display: block;
    color: #222C6A;
    cursor: pointer;
    font-size: 1.19vw;
    border-right: 2px solid #204692;
    padding: 5px 0;
}

.form_select .custom-select.last .custom-select-trigger {
	border-right: none !important;
}

.custom-select-trigger:after {
    position: absolute;
    display: block;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 10px 0 10px;
    border-color: #0f2349 transparent transparent transparent;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
}
     

.custom-select-wrapper {
	background: #fff;
    flex: 1;
    padding: 0.52vw 0;
}

.custom-options {
	position: absolute;
	display: block;
	top: 100%; left: 0; right: 0;
	min-width: 100%;
	margin: 15px 0;
	border: 1px solid #b5b5b5;
	border-radius: 4px;
	box-sizing: border-box;
	box-shadow: 0 2px 1px rgba(0,0,0,.07);
	background: #fff;
	transition: all .4s ease-in-out;    
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	transform: translateY(-15px);
	height: 193px;
    overflow: scroll;
}

.custom-select.opened .custom-options {
	opacity: 1;
	visibility: visible;
	pointer-events: all;
	transform: translateY(0);
}



.custom-option {
	font-family: 'JosefinSans-VariableFont_wght';
    position: relative;
    display: block;
    padding: 0 22px;
    border-bottom: 1px solid #b5b5b5;
    font-size: 0.93vw;
    font-weight: 600;
    color: #222C6A;
    line-height: 47px;
    cursor: pointer;
    transition: all .4s ease-in-out;
}

.custom-option:first-of-type {
    border-radius: 4px 4px 0 0;
}

.custom-option:last-of-type {
    border-bottom: 0;
    border-radius: 0 0 4px 4px;
}

.custom-option:hover,
.custom-option.selection {
    background: #f9f9f9;
}

/* Bottle wrap */

.bottle_wrap {
	position: absolute;
	bottom: 0;
    right: 0;
    width: 100%;
}


/* RESPONSIVE */

@media only screen and (min-width: 1921px) {
	.a_gate .a_logo {
	    width: 70%;
	    margin: auto;
	}
	.bottle-c {
		width: 25%;
	}
	.form_select .btn button {
		margin-top: 90px;
	}
}


@media only screen and (max-width: 1700px) {
	.custom-select-trigger:after {
		border-width: 7px 5px 0 5px;
		right: 15%;
	}
	.custom-select-trigger {
		font-size: 22px;
	}
	.form_select .btn button {
		font-size: 25px;
    	padding: 10px 35px;
	}
	.custom-select-wrapper {
		padding: 15px 0;
	}
}

@media only screen and (max-width: 1600px) {
	.bottle-c img {
		min-width: 120%;
	    padding: 5%;
	}
	.form_select {
	    padding-top: 10px;
	}
}

@media only screen and (max-width: 1450px) {
	.a_gate .a_logo .lav-img {
	    max-width: 160px;
	}
	.bottle-c {
	    width: 40%;
	}
	.bottle-c img {
	    min-width: 100%;
	    padding: 0;
	}
	.a_gate .a_gate_wrap {
	    width: 75%;
	    padding: 0 115px 0 30px;
	}
	.a_login_form p {
	    font-size: 18px;
	}
	.custom-select-trigger {
	    font-size: 20px;
	}
	.custom-select-trigger {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.custom-select-trigger:after {
		position: static;
    	margin-top: 8px;
    	margin-left: 10px;

	}
	.custom-option {
		font-size: 14px;
	}
}


@media only screen and (max-width: 1250px) {
	.a_gate .a_logo .lav-img {
	    max-width: 140px;
	}
	.bottle-c img {
	    padding: 0 5%;
	}
	.bottle-c {
	    width: 42%;
	}
	.a_login_form p {
	    font-size: 18px;
	}
	.custom-select-wrapper {
	    padding: 10px 0;
	}
	.custom-select-trigger {
	    font-size: 17px;
	}
	.form_select .btn button {
	    font-size: 20px;
	}
	.lav_social p, .lav_social a {
	    font-size: 15px;
	}
	.copy {
		font-size: 13px !important;
	}
	.lav_social ul a {
	    font-size: 20px;
	}
}

@media only screen and (max-width: 1100px) {
	.a_gate {
		background-size: cover;
	}
	.a_gate .a_gate_wrap {
	    padding: 0 90px 0 30px;
	}
	.bottle-c {
	    width: 40%;
	}
	.bottle-c img {
		padding: 0;
	}
}

@media only screen and (max-width: 991px) {
	.a_login_form h1 {
		font-size: 28px;
	}
	.center-all {
		width: 75%;
	}
	.bottle-c {
	    left: 63%;
	}
	.custom-select-trigger {
	    border-right: none;
	}
	.form_select {
	    width: 90%;
	}
}

@media only screen and (max-width: 767px) {

	.a_gate .a_logo .lav-img {
	    max-width: 110px;
	}
	.center-all {
		width: 100%;
		background-size: 160%;
	    background-position: 0px 0px;
	}
	.a_gate .a_gate_wrap {
	    width: 100%;
	    padding: 0 20px;
	}
	.bottle_wrap {
		display: none;
	}
	.a_gate .a_logo {
	    width: 60%;
	    margin: auto;
	}
	
}


@media only screen and (max-width: 600px) {
	.a_login_form {
		margin-top: 10%;
	}
	.a_gate .a_logo .lav-img {
	    max-width: 95px;
	}
	.custom-select-wrapper {
	    padding: 7px 0;
	}
	.custom-select-trigger {
	    font-size: 16px;
	}
	.form_select .btn button {
	  font-size: 25px;
	  padding: 6px 35px;
	}
	.form_select .btn button {
	  font-size: 18px;
	  margin-top: 25px;
	}
	.center-all {
	    background-size: cover;
	    background-position: left;
	    padding: 20px 0;
	}
	.mob_bottle {
	    display: block;
	    width: 55%;
	    margin: auto;
	}
	.lav_social ul {
	    margin-bottom: 25px;
	}
	.form_select {
	    width: 90%;
	}
	.a_gate {
		height: auto;
	}
}











